<mat-toolbar color="primary">GitHub Profile Viewer</mat-toolbar>

<div class="searchBody">

    <form>
        <mat-form-field class="profileInput">
            <input matInput placeholder="GitHub Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" (keyup.enter)="getProfile(username)">
        </mat-form-field>
    </form>


    <div class="find">
        <button type="submit" class="findButton" mat-raised-button color="primary" (click)="getProfile(username)">Find</button>
    </div>
    <!-- <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner> -->

    <div *ngIf=loader>
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
    </div>

    <mat-card class="profileCard" *ngIf=dataAvailable>
        <mat-card-header>
            <h1>{{tagName}}</h1>
            <!-- name -->
            <mat-card-title>{{profile.name}}</mat-card-title>
            <!-- location -->
            <mat-card-subtitle>{{profile.location}}</mat-card-subtitle>
        </mat-card-header>
        <!-- avatar_url -->
        <img mat-card-image src={{profile.avatar_url}}>
        <mat-card-content class="profileBio">
            <!-- bio -->
            <p>
                {{profile.bio}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a href={{profile.html_url}}>{{profile.login}}</a>
        </mat-card-actions>
    </mat-card>


</div>